/*
* {
    box-shadow: red 0 0 10px inset;
}
*/
body {
    background-color: rgba(87, 87, 87, 0.226);
}
header {
    text-align: center;
    padding: 1%;
    font-size: 16px;
    background-color: #000000;
}
#h1 {
    color: white;
}
nav {
    text-align: center;
    background: #1C1C1C;
    padding: 18px 0;
}
nav a {
    text-decoration: none;
    color : black;
}
.logo {
    display: inline;
}
.logo #Acceuil {
    padding: 15px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav #Acceuil:hover {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgba(18, 17, 17, 0.797);
    font-size: 18px;
}
nav #Rechercher {
    background-color: #111;
    color:#ffffff;
    border: 1px solid #111;
    border-radius: 5px;
    border: 1px solid #6d6d6d;
    height: 35px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    transition:all 0.3s ease;
}
nav #Rechercher:hover {
    box-shadow:  -1px -1px 10px rgb(65, 65, 65) , 1px 1px 10px rgb(65, 65, 65) ;
    font-size: 16.5px;
}
nav #Rechercher:focus {
    box-shadow:  -1px -1px 10px rgb(65, 65, 65) , 1px 1px 10px rgb(65, 65, 65) ;
}
nav #Planning {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav #Planning:hover {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgba(18, 17, 17, 0.797);
    font-size: 18px;
}
nav #Catalogue {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav #Catalogue:hover {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgba(18, 17, 17, 0.797);
    font-size: 18px;
}
main {
    background-color: #2A2A2A;
    height: 1500px;
}
.AlertSiteFrauduleux {
    text-align: center;
    margin: 0 auto;
    background-color: #111;
    color: white;
    width: 550px;
    border: rgba(255, 0, 0, 0.8) 2px solid;
    border-radius: 10px;
}
#PlanningAnime, #PlanningFilm, #PlanningSerie {
    transition: all 0.2s ease;
}
#PlanningAnime {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 331px;
    border: 2px solid black;
}
#PlanningAnime:hover, #PlanningFilm:hover, #PlanningSerie:hover {
    width: 502px;
    height: 333px;
    box-shadow:  -1px -1px 10px rgb(65, 65, 65) , 1px 1px 10px rgb(65, 65, 65) ;
}
#PlanningFilm {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 331px;
    border: 2px solid black;
}
#PlanningSerie {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 331px;
    border: 2px solid black;
}